<style>
    #SpaceshipView
    {
        height:600px;
        background-color: aliceblue;
    }

    .myGrid
    {
        width: 100%;
        height: 100%;
        margin: 10px;
    }
</style>

<div id="SpacesshipView" class="container-fluid">
    Spaceship View
    <div ui-grid="{data: vm.Spaceships }" class="myGrid"></div>
</div>