<style>
    #MainView
    {
        height: 100vh;
        background-color:#ff2baa;
    }
</style>

<div id="MainView" class="container-fluid">
    <spaceship style="margin: 20px;"></spaceship>
</div>