<style>
    #MainView
    {
        height: 100vh;
        background-color: coral;
    }
</style>

<div id="MainView" class="container-fluid">
    hola
    <spaceship style="margin: 20px;"></spaceship>
</div>